{% include "components/header.html"%}

<section style="background-color: rgb(255, 255, 255);">

</section>

<section class="admission" id="admission">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12  col-lg-4 col-xl-8 ">
                <div class= "  p-3 mb-3" style="line-height:2;">
                    <div><h1>Admission Requirement</h1></div>
                    <div>
                        <p>
                            <b>Please read the instruction carefully and use this directions to 
                            complete the online form. Incomplete Form can not be processed.
                            </b>
                        </p>
                    </div>
                    <div><h1>Background </h1></div>
                    <div>
                        <p>Sierra Leone Parliament enacted the National Youth Service (NYS) 
                            Act and gazette as Vol. CXLV11. No. 17 dated 12 March 2016. 
                            NYS is a national programme that promotes youth participation 
                            in governance and community development. The scheme provides
                             newly qualified graduates with opportunities to obtain practical job 
                             experience in the public and private sectors of the economy. 
                             It further aims at instilling a sense of responsibility and a dedicated 
                             service to the country; gain a sense of self-respect and respect for 
                            authority; understand the values of discipline, patriotism and foster social cohesion in the country.</p>
                    </div>
                    <div><h1>Objectives </h1></div>
                    <div>
                        <p>
                          <ol>
                            <li>A tool for patriotism, national unity and cohesion</li>
                            <li>A transformative youth empowerment and development</li>
                            <li>Improve youth productivity and participation</li>
                            <li>Contribute to reducing unemployment</li>
                            <li>Promote skills development, innovation and entrepreneurship for self-reliance</li>
                          </ol>
                        </p>
                    </div>

                    <div " ><h1>CRITERIA</h1></div>
                    <li>Section 26 of the NYS Act of 2016 states that “all Sierra Leonean college or
                         university graduates shall be enlisted in the service scheme for a period of one year, 
                        starting from the date specified in the call-up instrument”.
                    </li>
                    <li>Obtained a degree from a recognized college or university and 
                        graduated after the establishment of the scheme 
                        (i.e. only those who graduated on the 12th February 2016 onwards).
                    </li>
                    <li>Must be at age 18-35 years</li>
                    <li>Must not be a member of the Sierra Leone Armed Forces, Police Force and National Fire Force.</li>

                    <div class="admission_btn" style="margin-top:10px">
                      <button class="btn btn-primary" type = "button" >
                        <a href="{% url "application" %}" style="color: white; text-decoration:none;" > Admission</a>
                    </button> 
                      </div>



                </div>
              </div>

              

        </div>



    </div>

</section>

{% include "components/footer.html"%}