{% load static%}
{% include "components/header.html"%}


<section style="background-color: rgb(255, 255, 255);">

</section>
<section>
    <div class="container">    
      <div  class="text-center"><h1>About NYSCA-SL.</h1></div>
      <div class="row">
          <div class="col-md-12 col-sm-12  col-lg-12 col-xl-12">
              <div class= " text-black p-3 mb-3 text-center">
                  <div class="mb-5">
                      <p style="font-size: 24px; line-height: 2; margin-bottom:15px;">
                          The National Youth Service Corps Alumni Sierra Leone (NYSCA-SL) 
                          was founded on the 1st of September, 2019 in adhearance to 
                          Chapter ten (10) sub section 10.4 of the National Youth Service 
                          Strategy and roadmap for the implementation which states that " 
                          just like universities, the NYS should establish an Alumni Association for 
                          those who have passed through the NYS.
                          <br>
                          The Alumni may be willing to donate substantial resources and 
                          help fund mobilization for the NYS".
                      </p>
                  </div>
              </div>
              <hr>
              <div class="common slidedown">
                <img src="{% static "/images/alumni1.jpg" %}" width="300" height="300" alt="Image Caption Slidedown"> 
                <div class="pic-caption" style="color: white;">
                    Slide down caption. 
                    Slide down caption. 
                    Slide down caption. 
                    Slide down caption. 
                    Slide down caption. 

                </div>
               </div>
               <div class="common split-horiz">
                <img src="{% static "/images/alumni2.jpg" %}" width="300" height="300" alt="Image Caption Split Horizontal"> 
                <div class="pic-caption" style="color: white;">
                    Horizontal Split Style Caption. Horizontal Split Style Caption.
                    Horizontal Split Style Caption. Horizontal Split Style Caption.
                    Horizontal Split Style Caption. Horizontal Split Style Caption.
                    Horizontal Split Style Caption. Horizontal Split Style Caption.
            
                </div>
               </div>
               <div class="common split-vert">
                <img src="{% static "/images/alumni3.jpg" %}" width="300" height="300" alt="Image Caption Split Vertical"> 
                <div class="pic-caption" style="color: white;">
                    Vertical Split Style Caption. Vertical Split Style Caption. 
                    Vertical Split Style Caption. Vertical Split Style Caption. 
                    Vertical Split Style Caption. Vertical Split Style Caption. 
                    Vertical Split Style Caption. Vertical Split Style Caption. 
                </div>
               </div>
               <div class="common slideup">
                <img src="{% static "/images/alumni4.jpg" %}" width="300" height="300" alt="Image Caption Slideup"> 
                <div class="pic-caption" style="color: white;">
                    Image Slide Up Caption. Image Slide Up Caption.
                    Image Slide Up Caption. Image Slide Up Caption.
                    Image Slide Up Caption. Image Slide Up Caption.
                    Image Slide Up Caption. Image Slide Up Caption.
                </div>
               </div>
               <div class="common split-vert">
                <img src="{% static "/images/alumni6.jpg" %}" width="300" height="300" alt="Image Caption Split Vertical"> 
                <div class="pic-caption" style="color: white;">
                    Vertical Split Style Caption.
                    Vertical Split Style Caption.
                    Vertical Split Style Caption.
                    Vertical Split Style Caption.

                </div>
               </div>
               <div class="common split-horiz">
                <img src="{% static "/images/alumni2.jpg" %}" width="300" height="300" alt="Image Caption Split Horizontal"> 
                <div class="pic-caption" style="color: white;">
                    Horizontal Split Style Caption.
                    Horizontal Split Style Caption.
                    Horizontal Split Style Caption.
                    Horizontal Split Style Caption.
                </div>
               </div>
               <div class="common split-vert">
                <img src="{% static "/images/alumni3.jpg" %}" width="300" height="300" alt="Image Caption Split Vertical"> 
                <div class="pic-caption" style="color: white;">
                    Vertical Split Style Caption
                    Vertical Split Style Caption
                    Vertical Split Style Caption
                    Vertical Split Style Caption
                </div>
               </div>
               <div class="common slideup">
                <img src="{% static "/images/alumni4.jpg" %}" width="300" height="300" alt="Image Caption Slideup"> 
                <div class="pic-caption" style="color: white;">
                    Image Slide Up Caption
                    Image Slide Up Caption
                    Image Slide Up Caption
                    Image Slide Up Caption
                </div>
               </div>


            </div>
        
      </div>
    </div>
  
  
  </section>
  
  
  
{% include "components/footer.html"%}