{% include "components/header.html"%}

<section style="background-color: rgb(255, 255, 255);">

</section>

<section>
  
</section>
<h1 class="text-center">department</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, id! Excepturi voluptatum animi mollitia earum optio, quod delectus, accusantium quidem exercitationem quisquam ullam aperiam repellendus tempore similique, unde tempora saepe!</h2>



<div class="row justify-content-evenly">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  
{% include "components/footer.html"%}