{% load static %}
{% include "components/header.html"%}

<section style="background-color: rgb(255, 255, 255);">

</section>

<section class="news" id="news">
<div class="container-fluid">
    <h1 class="text-center">Our News</h1>
    <div class="row border">

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="bg-image hover-zoom">
                    <img src="{% static "images/f13t.jpg" %}" class="d-block w-100 " alt="...">                </div>
                <div>
                    <p>
                        <h6>
                              National Youth Service (NYS) Embarks 
                                On Follow-up And Monitoring Exercise Of Batch Three Corps Members
                        </h6>

                    </p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       
        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div >
                    <img src="{% static "images/moyaundp.jpg" %}" class="d-block w-100  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            MoYA and UNDP Discuss Employment Opportunities with Youth Leaders and Key Stakeholders
                        </h6>
                    </p>
                    <p class="text-muted"><small> Bridge the gap between Youth and other Stakeholders.</small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       
       
        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/ACCCORPS.jpg" %}" class="d-block w-100 alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS RAPS-UP CORPS MEMBERS TRAINING CEREMONY IN GRAND STYLE                     
                        </h6>
                    </p>
                    <p class="text-muted"><small> By Communications Unit</small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS DEPLOYS 4 FEMALE CORPS MEMBERS TO ACC                        
                        </h6>
                    </p>
                    <p class="text-muted"><small> By NYS Communications Unit</small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       
       
          <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS Executive Director Raises The Bar On Compliance With NYS Acts 2016                  
                        </h6>
                    </p>
                    <p class="text-muted"><small>Executive Director Addressed third batch Corps Members By Communications Unit</small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS RECRUITS UP TO 700 GRADUATES                       
                        </h6>
                    </p>
                    <p class="text-muted"><small>National Youth Service recruits up to 700 gradutes as prospect third batch corps members</small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NATIONAL YOUTH SERVICE (NYS) KICK STARTS THE THIRD BATCH OF CORPS MEMBERS ENLISTMENT PROCESS                       
                        </h6>
                    </p>
                    <p class="text-muted"><small> On Monday 19th October 2020, the National Youth Service (NYS) commenced the interview process for the November 2020 Corps Members enlistment.</small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       
       
          <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS Ends Deployment of 371 Graduates Corps In Sierra Leone ( JAN 2020)                
                        </h6>
                    </p>
                    <p class="text-muted"><small>The National Youth Service (NYS), supervised by the Ministry of Youth Affairs, has ended the deployment of 371 Corps across the country in line with the New Direction administration's mandate to empower young graduates for the available job markets.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS Executive Director Impresses UN Delegation From New York ( MAY 2019)                       
                        </h6>
                    </p>
                    <p class="text-muted"><small>The Executive Director National Youth Service, Onanah Jalloh, has disclosed to a 5-man delegation from the United Nations New York office that his institution was created to cater for young graduates in the employment market by creating the work opportunities and sustainable livelihood.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            First Visually Disabled Graduate Corps Receives Computer From Deputy Youth Minister ( SEPT 2018)                        </h6>
                    </p>
                    <p class="text-muted"><small> Miatta Muriel Moriba is visually impaired, but her situation didn't limit her from pursing her academic ambition. Born in Beduma, Bo District, she graduated with a BA in History/Sociology from Fourah Bay College, University of Sierra Leone.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       
       
          <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            German Ambassador Receives NYS Executive Director.            
                        </h6>
                    </p>
                    <p class="text-muted"><small>The Executive Director, National Youth Service (NYS) Onanah Jalloh, has led a delegation to the Germany Embassy in Freetown ahead of the review of the NYS Act as proclaimed by President Julius Maada Bio during his 2018 state opening address in Parliament..
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            WITH SUPPORT FROM UNDP, NYS Embarks on Nationwide Monitoring of Corps.                      
                        </h6>
                    </p>
                    <p class="text-muted"><small>Monitoring and Evaluation of graduate corps have been one of the effective tools used by the National Youth Service in achieving its strategic plan.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       


        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            Vice President Inaugurates First Batch of 200 Graduate Corps (SEPT 2018)                    </p>
                    <p class="text-muted"><small> Sierra Leone’s Vice President, Dr. Mohamed Juldeh Jalloh, has inaugurated the first batch of 200 graduate corps at the Peace Keeping Military Facility at Robgangba, Hastings in the eastend of the Freetown.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       
       
          <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS Executive Director Pledges Unwavered Support To Plan International          
                        </h6>
                    </p>
                    <p class="text-muted"><small>The Executive Director of the National Youth Service, Onanah Jalloh has pledged his institution’s unwavered support to Plan International, Sierra Leone in ensuring that Plan achieves it three years strategic plan on inclusive quality education for all children, youth entrepreneurship and gender transformative child protection and safeguarding.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            Head of European Union Delegation Pledges Commitment To NYS Scheme (MARCH 2019)                        </h6>
                    </p>
                    <p class="text-muted"><small>Ambassador Tom Vens, head of European Union delegation to Sierra Leone has commended President Julius Maada Bio’s commitment on improving youth productivity and Participation in national development.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

          <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            NYS Delegation on Study Tour in Kenya (MARCH 2019)                        
                        </h6>
                    </p>
                    <p class="text-muted"><small>Led by Sierra Leone’s Deputy Minister of Youth Affairs, Hon. Lusine Kallon, the National Youth Service (NYS) delegation travelled to Kenya on a study tour in preparedness of the review of the 2016 NYS Act.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       

        <div class=" col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class=" p-3 mb-3 text-center news-items border">
                <div class="about_us_logo">
                    <img src="{% static "images/nys-logo-.png" %}" class="mx-auto d-block mb-4"  alt="nys logo">
                </div>
                <div>
                    <p>
                        <h6>
                            Kenya National Youth Service on the Spotlight         </h6>
                    </p>
                    <p class="text-muted"><small>Kenya NYS was established in 1964 through an Act of parliament to train young people to be patriotic, self-reliant and self-disciplined. In 2019, the NYS was transformed from a State Department to a fully-fledged semi-autonomous state corporation after enactment of NYS Act 2018 by the Kenyan Parliament. Before the late 1980s, students had to participate in the NYS before admission into universities.
                    </small></p>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>            
                    <ul>
                        <a href="{% url "background" %}" style="text-decoration:none;">Read More..</a>
                    </ul>
            </div>
          </div>
       


    </div>
</div>   

</section>









{% include "components/footer.html"%}