{% load static %}
{% include "components/header.html" %}

<section style="margin-top: 2rem;">

</section>



<section class="executive_dir" id="executive_dir">
    <div class="container-md">

        <div class="card mb-3 border-0" style="max-width: 1280px;">
            <div class="row g-0">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">     
                <img src="{% static "images/dir.jpg" %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
                <div class="card-body ">
              
                  <h3 class="card-title ">THE NATIONAL YOUTH SERVICE: EXECUTIVE DIRECTOR</h3>
                  <p class="card-text" style="text-align:center; line-height:2">
                    The Executive Director of the National Youth Service (NYS), 
                    Mr Mohamed Onanah Jalloh has in a meeting held on the 8th September 2020, 
                    called on members of Staff of the National Youth Service to rededicate themselves to duty. 
                    Addressing the Staff at the NYS Conference Room at the Stadium Hostels, 
                    the Executive Director of NYS reminded staff members about the importance of 
                    teamwork, and how crucial it is to the achievement of organizational goals. 
                    He enjoined staff members to always uphold the trust and confidence reposed 
                    in them regarding the care and wellbeing of Corps members and to ensure that 
                    the latter did not leave their service locations without due authorization. 
                    To ensure efficiency and effectiveness at work, Mr Jalloh tasked the Deputy Executive Director, 
                    Mr Paul Saffa Tapema and other departmental heads with the responsibility to henceforth, 
                    effectively supervise and monitor the activities of all staff members. Whilst reaffirming 
                    his commitment to the promotion of Staff welfare, the Executive Director warning that 
                    infractions by staff members would be met with appropriate sanctions at all times. 
                    The Deputy Executive Director, Mr Paul Saffa Tapema, encouraged staff members to 
                    raise their concerns. Some of the concerns raised were resolved by the Deputy 
                    Executive Director who also joined his boss, the Executive Director, 
                    Mr Mohamed Onanah Jalloh to re-echo the call for dedication and teamwork.                </p>
                  <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 3 mins ago</i></small></p>
                </div>
              </div>
            </div>
          </div>

     </div>

</section>




<!-- =============Deputy executive -->

<section class="deputy_dir " id="deputy_dir"  style="background: rgb(243, 241, 241);">
    <div class="container-md deputy_dir">
        <div class="card mb-3 border-0" style="max-width: 1280px;">
            <div class="row g-0">
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 hover-zoom">     
                <img src="{% static "images/deputy_dir.jpg" %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8 ">
                <div class="card-body ">
              
                  <h3 class="card-title">THE NATIONAL YOUTH SERVICE: DEPUTY EXECUTIVE DIRECTOR</h3>
                  <p class="card-text" style="text-align:center; line-height:2">
                    The Executive Director of the National Youth Service (NYS), 
                    Mr Mohamed Onanah Jalloh has in a meeting held on the 8th September 
                    2020, called on members of Staff of the National Youth Service to rededicate 
                    themselves to duty. Addressing the Staff at the NYS Conference Room at the 
                    Stadium Hostels, the Executive Director of NYS reminded staff members about 
                    he importance of teamwork, and how crucial it is to the achievement of organizational goals. 
                    He enjoined staff members to always uphold the trust and confidence reposed in 
                    them regarding the care and wellbeing of Corps members and to ensure that the 
                    latter did not leave their service locations without due authorization. 
                    To ensure efficiency and effectiveness at work, Mr Jalloh tasked the Deputy 
                    Executive Director, Mr Paul Saffa Tapema and other departmental heads with 
                    the responsibility to henceforth, effectively supervise and monitor the activities 
                    of all staff members. Whilst reaffirming his commitment to the promotion of Staff 
                    welfare, the Executive Director warning that infractions by staff members would 
                    be met with appropriate sanctions at all times. The Deputy Executive Director, 
                    Mr Paul Saffa Tapema, encouraged staff members to raise their concerns. 
                    Some of the concerns raised were resolved by the Deputy Executive Director 
                    who also joined his boss, the Executive Director, 
                    Mr Mohamed Onanah Jalloh to re-echo the call for dedication and teamwork.</p>
                    <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> Last updated 90 mins ago</i></small></p>
                </div>
              </div>
            </div>
          </div>

     </div>

</section>


<!-- other staff -->

<section class="other-staff" id="other-staff">
  <div class="container">
    <h1>Other Staff</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img ">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                  <div>
                      <h3>Staff Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>Staff Position</h6>
                     <p>Staff Descriptions</p>   
                </div>
                <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a>
                
                </caption>
                
              </div>
            </div>
          </div>



    </div>

</div>
</section>

{% include "components/footer.html" %}