{%load static%}
{% include "components/header.html"%}

<section style="background-color: rgb(255, 255, 255);">

</section>

<section class="other-staff" id="other-staff">
  <div class="container">
    <div> <h1 class="mb-5 text-center" >NYS Board of Directors</h1></div>
   
    <div class="row">
        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption >
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>

                <div>
                    <h6>Position</h6>
                     <p>Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3>Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6> Position</h6>
                     <p> Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3>  Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>  Position</h6>
                     <p>  Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>  Position</h6>
                     <p>  Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3>  Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6> Position</h6>
                     <p>  Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6>  Position</h6>
                     <p> Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6> Position</h6>
                     <p> Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div class="latest-new-img">
                <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                    <h6> Position</h6>
                     <p> Descriptions</p>   
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                    </div>
                </caption>
                
              </div>
            </div>
          </div>



    </div>

</div>
</section>

{% include "components/footer.html"%}