{%load static%}
{% include "components/header.html"%}

<section style="background-color: rgb(255, 255, 255);">

</section>

<section class="nys_sponsors" id="nys_sponsors">
  <div class="container">
    <div> <h1 class="mb-5 text-center" >NYS Sponsors</h1></div>

    <div class="row">
        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div  >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100 " alt="...">
                <caption >
                    <div class="text-center">
                  <div>
                      <h3> Company Name </h3>  
                  </div>

                <div>
                     <p>Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>
                <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div  >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3>Company Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
 
                     <p> Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3>  Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                     <p>  Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div  >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                     <p>  Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div  >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3>  Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                     <p>  Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div  >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                     <p> Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

        <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div  >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100 " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                     <p> Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>
                    </div>
                </caption>
                
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
            <div class= "text-black  p-3 mb-3">
              <div  >
                <img src="{% static "images/about1.jpg" %}" class="d-block w-100  " alt="...">
                <caption>
                    <div class="text-center">
                  <div>
                      <h3> Name </h3>  
                  </div>
                  <div class="text-center">
                  </div>
                <div>
                     <p> Descriptions</p>   
                </div>
                <div class="sponsors-social-icons " >
                    <a href="#"><i class="fas fa-globe"></i></a>
                    <a href="#"><i class="uil uil-facebook"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-linkedin"></i></a>
                    <a href="#"><i class="uil uil-twitter"></i></a>
                </div>

                    </div>
                </caption>
                
              </div>
            </div>
          </div>



    </div>

</div>
</section>

<!-- kind sponsors -->

<section class="nys_sponsors-in-kind" id="nys_sponsors-in-kind">
    <div class="container">
      <div> <h1 class="mb-5" > In-Kind Sponsors</h1></div>
  
      <div class="row">
          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
              <div class= "text-black  p-3 mb-3">
                <div>
                  <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                  <caption >
                      <div class="text-center">
                    <div>
                        <h3> Name </h3>  
                    </div>
  
                  <div>
                      <hp>Descriptions</hp>
                  </div>

                  </div>
                  </caption>
                  
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
              <div class= "text-black  p-3 mb-3">
                <div>
                  <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                  <caption>
                      <div class="text-center">
                    <div>
                        <h3>Name </h3>  
                    </div>
                    <div class="text-center">
                    </div>
                  <div>
                       <p> Descriptions</p>   
                  </div>
                  <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                      </div>
                  </caption>
                  
                </div>
              </div>
            </div>
  
          <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
              <div class= "text-black  p-3 mb-3">
                <div  >
                  <img src="{% static "images/about2.jpg" %}" class="d-block w-100  " alt="...">
                  <caption>
                      <div class="text-center">
                    <div>
                        <h3>  Name </h3>  
                    </div>
                    <div class="text-center">
                    </div>
                  <div>
                       <p>  Descriptions</p>   
                  </div>
                  <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                      </div>
                  </caption>
                  
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-sm-12  col-lg-4 col-xl-3">
              <div class= "text-black  p-3 mb-3">
                <div  >
                  <img src="{% static "images/about2.jpg" %}" class="d-block w-100 " alt="...">
                  <caption>
                      <div class="text-center">
                    <div>
                        <h3> Name </h3>  
                    </div>
                    <div class="text-center">
                    </div>
                  <div>
                       <p>  Descriptions</p>   
                  </div>
                  <!-- <a href=""><i class="fa fa-calendar"> 3 weeks Ago</i></a> -->
                      </div>
                  </caption>
                  
                </div>
              </div>
            </div>
  

         
  
  
      </div>
  
  </div>
  </section>
  

  
<section class="nys_sponsors-recent" id="nys_sponsors-recent">
    <div class="container">
      <div> <h1 class="mb-5" > Recent Sponsors</h1></div>
  
      <div class="row">
          <div class="col-md-6 col-sm-12  col-lg-12 col-xl-12">
              <div class= "text-black  p-3 mb-3">
                <div style="line-height: 2;">
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                    <li>The Yestech Company was a program sponsor of the Youth Save Halloween 2020 program.</li>
                </div>

                <div>
                    <a href="{% url "donations" %}" class="btn btn-primary mt-3">Be Part of our sponsor Activity </a>
                </div>
              </div>
            </div>
  


         
  
  
      </div>
  
  </div>
  </section>
  




{% include "components/footer.html"%}