{% include "components/header.html"%}

<section style="background-color: rgb(255, 255, 255);">

</section>

<!-- <p>Impact</p>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, id! Excepturi voluptatum animi mollitia earum optio, quod delectus, accusantium quidem exercitationem quisquam ullam aperiam repellendus tempore similique, unde tempora saepe!</h2> -->

<section id="about-impact" class="about-impact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="bg-white text-center mb-3 ">
    

                    SUPERVISOR THIS IS HOW I WANT TO LAYOUT IT SIR : <a href="https://ysa.org/about/impact/">https://ysa.org/about/impact/</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="bg-primary text-center mb-3 ">
                    rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="bg-primary text-center mb-3 ">
                    rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
                </div>
            </div>
        </div>
    </div>

</section>
{% include "components/footer.html"%}