
{% load static %}
{% include "components/header.html" %}




<section class="implementation" id="implementation">
<div class="container-fluid">
  <h2 class="text-center">THE NATIONAL YOUTH SERVICE: IMPLEMENTATION</h2>
 <div class="row">
            <div class="col-md-12 col-sm-12  col-lg-8 col-xl-8">
          <div class= "p-3 mb-3">
              <div class="mission-vision-text" style="line-height: 2;">
                  <p>
                  Vice President Dr. Mohamed Juldeh Jalloh on 
                  Thursday 20th September, 2018 inaugurated the first batch of 200 National Youth graduate 
                  corps at the Peace Keeping Military Center at Robgangba, Hastings in the eastend of Freetown.
                      <br><br>

                      The official induction of the first batch of the National Youth Service Corps, 
                      was in tune with President Julius Maada Bio’s maiden inaugural speech at the 
                      official State Opening of the Fifth Parliament of the Second Republic of Sierra Leone. 
                      200 graduate Corps members includes 125 men representing 62.5% whiles 
                        remaining 37.5% (75) are women including one visually impaired person, Miata Moriba. 
                        The official induction of the first batch of the National Youth Service Corps, was in tune with 
                        President Julius Maada Bio’s maiden inaugural speech at the official State Opening of the 
                        Fifth Parliament of the Second Republic of Sierra Leone. The 200 graduate Corps members 
                        includes 125 men representing 62.5% whiles
                      the remaining 37.5% (75) are women including one visually impaired person, Miata Moriba.
                      <br><br>
                      After their stay for 21 days, the graduate corps were trained to nurture
                        and cultivate positive working attitudes and engage in a year of dedicated national service. 
                        To be championing community development and further serve as a symbol of unity in their
                        host communities.

                      <br><br>
                      The graduate corps are currently deployed across the country and only benefiting from a monthly stipend.
                  </p>
                    
              </div>  

              <div class="background_btn" style="margin-top:10px">
                  <button class="btn btn-primary" type = "button" >
                    <a href="{% url "background_info" %}" style="color: rgb(251, 249, 249); text-decoration:none;" > << Back </a>
                </button> 
                  </div>
          </div>
          </div>
                  
     
     
         <div class=" col-md-12 col-sm-12  col-lg-4 col-xl-4" >
           <div class=" p-3 mb-3 ">Quick Links</div>
           <div style="border: 1px solid rgb(216, 210, 210); text-decoration:none;">
             <a href="{% url 'donations' %}">Make a donations</a><hr>
             <a href="{% url "background" %}">Background</a><hr>
             <a href="{% url "mission_vision" %}">Mission & Vision   </a><hr>
             <a href="{% url "objectives" %}">Objectives</a><hr>
             <a href="{% url "application" %}">Admission</a><hr>
             <a href="#">Minister of Youth and foreign affairs</a><hr>
             <a href="#">Minister of Youth and foreign affairs</a>
         </div>
         </div>

 </div>
</div>

</section>

{% include "components/footer.html" %}



























