
{% load static %}
{% include "components/header.html" %}



<section class="objectives" id="objectives">
  <div class="container-fluid">
   <h1 class="text-center">THE NATIONAL YOUTH SERVICE: OBJECTIVES</h1>
    <div class="row">
        <div class="col-md-12 col-sm-12  col-lg-8 col-xl-8">
          <div class= "p-3 mb-3">
              <div class="objectives-vision-text" style="line-height: 2;">
                    <p>
                    The objectives of the NYS scheme as stipulated in the 2016 National Youth Service Act are as follows:
                    <ol>
                        <li>Inculcate a disciplined work ethics among the youth of Sierra Leone and a sense of patriotic and loyal service</li>
                        <li>Develop a collective sense of the need to mobilize towards these goals through shared experiences and relevant training</li>
                        <li>Develop common ties and a sense of common destiny among young people to promote national unity and integration</li>
                        <li>Promote an equitable distribution of service members and the utilization of their skills to better fulfil the country’s needs</li>
                        <li>Create a sense of awareness about the cultural diversity in Sierra Leone</li>
                        <li>Provide opportunities for employment all over Sierra Leone, to promote the free movement of labour at the end of national service</li>
                        <li>Undertake projects designed to combat hunger, illiteracy, disease and unemployment</li>
                        <li>Promote the spirit of voluntarism among the youth of Sierra Leone</li>
                        <li>Give young people an opportunity to learn about the importance of the higher ideals of achieving national goals</li>
                        <li>Encourage youth to acquire a spirit of self-reliance and to develop skills for self-employment that will contribute to the country’s economic growth</li>
                        <li>Eliminate ignorance, remove prejudices and promote an understanding of the many similarities among ethnic groups in Sierra Leone</li>
                        <li>Assign youth outside their regions and districts of origin to develop a sense of patriotism and national ownership</li>
                        <li>Encourage a sense of religious tolerance among service members by accommodating religious differences</li>
                        <li>Encourage employers who have had experience with qualified service members to provide them employment irrespective of their region of origin</li>
                        <li>Help to provide essential services and amenities, particularly in rural communities</li>
                    </ol>
                </p>
                    
              </div>  

              <div class="background_btn" style="margin-top:10px">
                  <button class="btn btn-primary" type = "button" >
                    <a href="{% url "background_info" %}" style="color: rgb(251, 249, 249); text-decoration:none;" > << Back </a>
                </button> 
                  </div>
          </div>
          </div>
                  
         <div class=" col-md-12 col-sm-12  col-lg-4 col-xl-4" >
           <div class=" p-3 mb-3 ">Quick Links</div>
           <div style="border: 1px solid rgb(216, 210, 210); text-decoration:none;">
             <a href="{% url 'donations' %}">Make a donations</a><hr>
             <a href="{% url "background" %}">Background</a><hr>
             <a href="{% url "mission_vision" %}">Mission & Vision   </a><hr>
             <a href="{% url "implementation" %}">Implementation</a><hr>
             <a href="{% url "application" %}">Admission</a><hr>
             <a href="#">Minister of Youth and foreign affairs</a><hr>
             <a href="#">Minister of Youth and foreign affairs</a>
         </div>
         </div>

 </div>
</div>

</section>

{% include "components/footer.html" %}


















































