 {%load static%}
 {% include "components/header.html" %}


 <section style="background-color: rgb(255, 255, 255);">

 </section>
 
<section class="application" id="application">
 <h1>Application page</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto inventore, tempora placeat ab iure iste at delectus, maiores minus non possimus aut ex voluptas. Iste recusandae dolor voluptas laborum minima!
Modi cum dicta consequatur alias possimus qui tempora a, quis rerum corporis repudiandae quibusdam in deserunt numquam laudantium omnis ad perspiciatis debitis earum pariatur neque voluptate! Ratione, voluptates quia. Illo!
Ipsa minus cupiditate similique excepturi numquam eius commodi quia illo amet cum inventore corporis aliquam, tenetur ea magnam molestias nihil? Velit ea, error voluptates iusto illum praesentium voluptas incidunt dignissimos!
Nemo, ab officiis a temporibus ut tempora sequi consectetur voluptatem architecto amet aspernatur impedit. Adipisci repellat nostrum earum provident labore vel obcaecati odit repudiandae architecto harum eveniet, eaque consequuntur dolores.
Animi voluptas cumque suscipit soluta veniam beatae neque dicta corrupti molestiae eos rem corporis nam quas aperiam impedit molestias sunt commodi saepe autem, voluptatum facere consequatur nostrum! Tenetur, dignissimos eos.
</p>


<p style="color: red;">Your application process has been closed </p>


<div class="admission_btn" style="margin-top:10px">
    <button class="btn btn-primary" type = "button" >
      <a href="{% url "home" %}" style="color: rgb(251, 249, 249); text-decoration:none;" > << Back Home </a>
  </button> 
    </div>







</section>

 {% include "components/footer.html" %}