{%load static%}
{% include "components/header.html"%}

<section class="back_and_info" id="back_and_info">
    <div class="container-md">
        <h1  class="info-heading-text text-center"> Our Regional Locations</h1>
        <div class="row">

        <div class="col-md-12 col-sm-12  col-lg-4 col-xl-5">
         <div class= " p-3 mb-2 back_info_text">
            <div class="executive-img">
                <img src="{% static "/images/location1.jpg" %}">
               </div>  
               <caption>Old School Building 3rd floor</caption>
           
         </div>
        </div>

        <div class="col-md-12 col-sm-12  col-lg-8 col-xl-7">
            <div class= "p-3 mb-2 back_info_tex">
                <div>
                    <h4  class="info-heading-text">Northern Province</h4>

                    <div class= " text-black p-3 mb-3">
                      <h3>Contact Info</h3>
                      <h5><i class="fa fa-home"></i> <span>22 Makeni Road Makakura Kabala</span></h5>
                      <h5><i class="fa fa-phone"></i> Phone: <span>+23276606545</span></h5>
                      <h5><i class="fa fa-envelope"></i> Email: <span>youthservices@nys.gov.sl</span></h5>
                      <h5><i class="fas fa-globe"></i> Web Address: <span>www.nys.gov.sl</span></h5>
              
                          <div class="col-12">
                     <a href="{% url 'contact_us' %}"><button class="btn btn-primary" type="submit" >Read More..</button></a>   
                         </div>
                    </div>

              
                </div>
            </div>
           </div>



              <div class="col-md-12 col-sm-12  col-lg-8 col-xl-7">
            <div class= "p-3 mb-8 back_info_tex">
                <div>
                    <h4  class="info-heading-text ">Southern Province</h4>

                    <div class= " text-black p-3 mb-3">
                        <h3>Contact Info</h3>
                        <h5><i class="fa fa-home"></i> <span>22 Makeni Road Makakura Kabala</span></h5>
                        <h5><i class="fa fa-phone"></i> Phone: <span>+23276606545</span></h5>
                        <h5><i class="fa fa-envelope"></i> Email: <span>youthservices@nys.gov.sl</span></h5>
                        <h5><i class="fas fa-globe"></i> Web Address: <span>www.nys.gov.sl</span></h5>
                
                        <div class="col-12">
                       <a href="{% url 'contact_us' %}"><button class="btn btn-primary" type="submit" >Read More..</button></a>   
                           </div>
                      </div>
                </div>
            </div>
           </div>

        <div class="col-md-12 col-sm-12  col-lg-4 col-xl-5">
         <div class= "  text-black p-3 mb-3">
            <div class="executive-img">
                <img class="img-test" src="{% static "/images/location2.jpg" %}">           
            </div><caption>Old School Building 3rd floor</caption>
 
         </div>
        </div>


        <div class="col-md-12 col-sm-12  col-lg-4 col-xl-5">
            <div class= " p-3 mb-2 back_info_text">
               <div class="executive-img">
                   <img src="{% static "/images/location3.jpg" %}">
                   </div> 
                   <caption>Old School Building 3rd floor</caption>
              
            </div>
           </div>
   
           <div class="col-md-12 col-sm-12  col-lg-8 col-xl-7">
               <div class= "p-3 mb-2 back_info_tex">
                   <div>
                       <h4  class="info-heading-text">Eastern Province</h4>
   
                       <div class= " text-black p-3 mb-3">
                         <h3>Contact Info</h3>
                         <h5><i class="fa fa-home"></i> <span>22 Makeni Road Makakura Kabala</span></h5>
                         <h5><i class="fa fa-phone"></i> Phone: <span>+23276606545</span></h5>
                         <h5><i class="fa fa-envelope"></i> Email: <span>youthservices@nys.gov.sl</span></h5>
                         <h5><i class="fas fa-globe"></i> Web Address: <span>www.nys.gov.sl</span></h5>
                 
                             <div class="col-12">
                        <a href="{% url 'contact_us' %}"><button class="btn btn-primary" type="submit" >Read More..</button></a>   
                            </div>
                       </div>
   
                 
                   </div>
               </div>
              </div>
   
              <div class="col-md-12 col-sm-12  col-lg-8 col-xl-7">
                <div class= "p-3 mb-8 back_info_tex">
                    <div>
                        <h4  class="info-heading-text ">Central Sierra Leone</h4>
    
                        <div class= " text-black p-3 mb-3">
                            <h3>Contact Info</h3>
                            <h5><i class="fa fa-home"></i> <span>22 Makeni Road Makakura Kabala</span></h5>
                            <h5><i class="fa fa-phone"></i> Phone: <span>+23276606545</span></h5>
                            <h5><i class="fa fa-envelope"></i> Email: <span>youthservices@nys.gov.sl</span></h5>
                            <h5><i class="fas fa-globe"></i> Web Address: <span>www.nys.gov.sl</span></h5>
                    
                            <div class="col-12">
                           <a href="{% url 'contact_us' %}"><button class="btn btn-primary" type="submit" >Read More..</button></a>   
                               </div>
                          </div>
                    </div>
                </div>
               </div>
    
            <div class="col-md-12 col-sm-12  col-lg-4 col-xl-5">
             <div class= "  text-black p-3 mb-3">
                <div class="executive-img">
                    <img class="img-test" src="{% static "/images/location4.jpg" %}">
                         </div>     
                         <caption>Old School Building 3rd floor</caption>
                
     
             </div>
            </div>
    
    


           

           


        </div>
    </div> 
</section>



{% include "components/footer.html"%}